@{
    ViewBag.Title = "Search";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This will essentially be the search page, the search screen will show up after a user or admin logs in</p>
<p>Right now the search bar just searches through google it will be linked to a database</p>
<div class="tfheader">
    <form class="tfnewsearch" method="get" action="http://www.google.com">
        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
    </form>
    <div class="tfclear"></div>
</div>
