@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="vertical-align:middle; margin:0px 0px; text-align: center;">
            <h4>Big Brother Huntington Office</h4>
            <address>
                The Clay Center<br />
                1 Clay Square, Suite 300<br />
                Charleston, WV 25301<br />
                <abbr title="Phone">P:</abbr>
                304.746.7900
            </address>
        </div>
        <div class="col-md-4" style="vertical-align:middle; margin:0px 0px; text-align: center;">
            <h4>Childlaw Services Inc</h4>
            <address>
                1505 Princeton Ave<br />
                Princeton, WV 24740<br />
                <abbr title="Phone">P:</abbr>
                304.425.9973
            </address>
        </div>
        <div class="col-md-4" style="vertical-align:middle; margin:0px 0px; text-align: center;">
            <h4>Legal Aid Services Huntington Office</h4>
            <address>
                1005 6th Ave<br />
                Huntington, WV 25701<br />
                <abbr title="Phone">P:</abbr>
                304.697.2070
            </address>
        </div>
        <div class="col-md-4" style="vertical-align:middle; margin:0px 0px; text-align: center;">
            <h4>WV Department of Health & Human Resources</h4>
            <address>
                State Capitol Complex<br />
                Building 3 Room 206<br />
                Charleston, WV 25305<br />
                <abbr title="Phone">P:</abbr>
                304.558.0684
            </address>
        </div>
    </div>
</div>



