@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The Clay Center<br />
    1 Clay Square, Suite 300<br />
    Charleston, WV 25301<br />
    <abbr title="Phone">P:</abbr>
    304.746.7900
</address>
