@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SoftWare Application</h1>
    <p class="lead">Login page. Register will only be viewable to the Admin if they login</p>
    <br />
    <p>@Html.Partial("_LoginPartial")</p> <!--class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
