@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Big Brothers, Big Sisters</h1>
    <p class="lead">Big Brothers Big Sisters of the Tri-State area is committed to helping kids live better lives, forever, through professionally supported one-to-one relationships</p>
    <br />
</div>
