@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SoftWare Application</h1>
    <p class="lead">Login page. Register will only be viewable to the Admin if they login</p>
    <p class="lead">Ignore the font color for the buttons when I deploy to app harbor it changes the color of the font...it is supposed to be white</p>
    <p class="lead">I am not sure why because it works when I debug it but it will be fixed</p>
    <br />
    <p>@Html.Partial("_LoginPartial")</p> <!--class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
