@model IEnumerable<CS305_WebApp.Models.ProgramModel>
@{
    ViewBag.Title = "";
}

<h1 class="text-primary">
    <strong>Search For Resources</strong>    
</h1>
<div class="jumbotron">
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
        <div class="tfheader">
            <form class="tfnewsearch" method="get" action="@Url.Action("Search","Search")">
                <input type="text" class="tftextinput" name="SearchString" size="21" maxlength="120"><input type="submit" value="search" onclick="@("window.location.href='" + @Url.Action("Index", "Search") + "'");" class="tfbutton">
            </form>
            <div class="tfclear"></div>
        </div>
    }

</div>

